In [1]:
import pandas as pd
daily = pd.read_csv('daily_update.csv')
daily.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-09-10,53.465000,54.195000,52.927502,54.174999,53.642761,127111600
1,2019-09-11,54.517502,55.927502,54.432499,55.897499,55.348343,177158400
2,2019-09-12,56.200001,56.605000,55.715000,55.772499,55.224567,128906800
3,2019-09-13,55.000000,55.197498,54.255001,54.687500,54.150230,159053200
4,2019-09-16,54.432499,55.032501,54.389999,54.974998,54.434902,84632400

In [4]:
data = pd.read_csv('data.csv')
data.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [3]:
data.tail()

       1      2    3     4    sum Unnamed: 5
995  413  14914  523  4683  20533         No
996  359  14423  927  4838  20547         No
997  316  14872  613  4760  20561         No
998  305  14926  897  4572  20700         No
999  168  14798  834  4937  20737         No

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')

# Load the data
df = pd.read_csv('data.csv')

# Data exploration and cleaning
print("Data Shape:", df.shape)
print("\nData Info:")
print(df.info())
print("\nDescriptive Statistics:")
print(df.describe())

# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

# Fill missing values
imputer = SimpleImputer(strategy='median')
df[['Calories']] = imputer.fit_transform(df[['Calories']])
df[['Duration', 'Pulse', 'Maxpulse']] = imputer.fit_transform(df[['Duration', 'Pulse', 'Maxpulse']])

Data Shape: (169, 4)

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

Descriptive Statistics:
         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

Missing Values:
Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [6]:
 #Check for data types
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')
df['Pulse'] = pd.to_numeric(df['Pulse'], errors='coerce')
df['Maxpulse'] = pd.to_numeric(df['Maxpulse'], errors='coerce')
df['Calories'] = pd.to_numeric(df['Calories'], errors='coerce')

### Visual Exploration

In [7]:
plt.figure(figsize=(20, 12))

### Distribution plots

In [10]:
plt.subplot(2, 2, 1)
sns.histplot(df['Duration'], kde=True)
plt.title('Distribution of Exercise Duration')

plt.subplot(2, 2, 2)
sns.histplot(df['Pulse'], kde=True)
plt.title('Distribution of Average Pulse')

plt.subplot(2, 2, 3)
sns.histplot(df['Maxpulse'], kde=True)
plt.title('Distribution of Maximum Pulse')

plt.subplot(2, 2, 4)
sns.histplot(df['Calories'], kde=True)
plt.title('Distribution of Calories Burned')

plt.tight_layout()
plt.savefig('distributions.png')
plt.close()

plt.show()

### Feature Engineering

In [21]:
df['Duration'] = pd.to_numeric(df['Duration'], errors='coerce')
df['Pulse'] = pd.to_numeric(df['Pulse'], errors='coerce')
df['Maxpulse'] = pd.to_numeric(df['Maxpulse'], errors='coerce')
df['Calories'] = pd.to_numeric(df['Calories'], errors='coerce')

df['PulseToMaxPulseRatio'] = df['Pulse'] / df['Maxpulse']
df['CaloriesPerMinute'] = df['Calories'] / df['Duration']

df_corr = df[['Duration', 'Pulse', 'Maxpulse', 'Calories', 
              'PulseToMaxPulseRatio', 'CaloriesPerMinute']]
correlation_matrix = df_corr.corr()

## Correlation matrix

In [22]:
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f")
plt.title('Correlation Matrix')
plt.tight_layout()
plt.savefig('correlation_matrix.png')
plt.close()

In [18]:
df.head()

,Duration,Pulse,Maxpulse,Calories,PulseToMaxPulseRatio,CaloriesPerMinute,Intensity
0,60.0,110.0,130.0,409.1,0.846154,6.818333,Moderate
1,60.0,117.0,145.0,479.0,0.806897,7.983333,Moderate
2,60.0,103.0,135.0,340.0,0.762963,5.666667,Moderate
3,45.0,109.0,175.0,282.4,0.622857,6.275556,Moderate
4,45.0,117.0,148.0,406.0,0.790541,9.022222,Moderate

In [ ]:
print("\nCorrelation Matrix:")
print(correlation_matrix)
# Scatter plots for relationships
plt.figure(figsize=(20, 12))

plt.subplot(2, 3, 1)
sns.scatterplot(x='Duration', y='Calories', data=df)
plt.title('Duration vs Calories')

plt.subplot(2, 3, 2)
sns.scatterplot(x='Pulse', y='Calories', data=df)
plt.title('Pulse vs Calories')

plt.subplot(2, 3, 3)
sns.scatterplot(x='Maxpulse', y='Calories', data=df)
plt.title('Maxpulse vs Calories')

plt.subplot(2, 3, 4)
sns.scatterplot(x='Duration', y='Pulse', data=df)
plt.title('Duration vs Pulse')

plt.subplot(2, 3, 5)
sns.scatterplot(x='Duration', y='Maxpulse', data=df)
plt.title('Duration vs Maxpulse')

plt.subplot(2, 3, 6)
sns.scatterplot(x='Pulse', y='Maxpulse', data=df)
plt.title('Pulse vs Maxpulse')

plt.tight_layout()
plt.savefig('scatter_plots.png')
plt.close()

Correlation Matrix:
          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922412
Pulse    -0.155408  1.000000  0.786535  0.028099
Maxpulse  0.009403  0.786535  1.000000  0.205172
Calories  0.922412  0.028099  0.205172  1.000000